[Unit]
Description=Kuasar Wasm sandboxer daemon process
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/wasm-sandboxer --listen /run/wasm-sandboxer.sock --dir /run/kuasar-wasm
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
Delegate=yes
KillMode=process

[Install]
WantedBy=multi-user.target

